<div>
	<div class="table-responsive">
		<form method="post" action="/home">
			<table class="table table-condensed">
					<tbody>
					<h3>SmartHome Control</h3>
					<div>
						<a href="/profile" class="btn btn-default"><span class="fa fa-user"></span> Profile</a>
					</div>
					{{#each data}}
					<p>
						<!-- if button is clicked go to PostHome -->
						<input type="submit" value="LED_On/Off" name="hometest1" onclick="">
						<br>
						<input type="submit" value="TERMINATE" name="hometest2" onclick="">
					</p>
					{{/each}}
					
					<!--
					<div id="future"></div>
						<form id="form" id="chat_form">
							<input id="chat_input" type="text">
							<input type="submit" value="Send" onclick="SendMsgtoRaspberrypi()">
						</form>
						-->
					</tbody>
				<tfooter>
				</tfooter>
			</table>
		</form>
	</div>
</div>


